
.navbar{  
    font-size:20px;
    height:60px;
    color:white;
    background-color:black;
}
.navbar a:hover{
    background-color:gold;
}
.project1{
    height:auto;
    width:100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('img/hero-bg.jpg');
}
.navitems{
    color:white;
    position:relative;
    left:250px;
    font-weight: 700;
    letter-spacing:3px;
    text-decoration: none;
}
.dropdown:hover .dropdowncontent{
    display:block;
    background-color:white;
}
.rightcorner{
    font-size:20px;
    position:relative;
    left:440px;
    text-decoration:none;
}
.right{
    color:white;
    font-weight: 700;
    border-color:rgb(255, 215, 0);
}
.rowgrid{
    padding-bottom:20%;
    padding-top:8%;
    width:80%;
    gap:20px;
    padding-left:17%;
    cursor: pointer;
    animation: smoothUp 2s ease-in-out;
}
@keyframes smoothUp{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.box1, .box2, .box3, .box4, .box5{
    padding:50px;
    border:1px solid white;
    color:white;
    font-size:17px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700px;
    animation: smoothUp 2s ease-in-out;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover{
    border-color:gold;
    color:gold;
}
.textpage1{
    text-align:center;
    color:rgb(255, 255, 255);
    padding-top:10%;
   
}
.no1{
    font-size:60px;
    font-weight:900;
}
.no2{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing:2px;
}
.img1{
    font-size:40px;
    text-align:center;
    padding-left:5px;
}













.secondpage{
    padding-top:8%;
    animation: smoothUp 2s ease-in-out;
}
@keyframes smoothUp{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.secondpageimage{
    height:500px;
    width:600px;
    margin-left:60px;
    animation: smoothUp 2s ease-in-out;
}
@keyframes smoothUp{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}







.thirdpageimage{
    height:500px;
    width:465px;
    padding-top:10%;
    padding-right:5%;
   
}

.icon1{
    font-size:30px;
    color:gold;
}
.one{
    padding-top:10%;
}









.fourthpage{
    padding-top:15%;
}
.underline{
    color:gold;
    font-size:20px;
    padding-left:10px;
    font-weight:700px;
}
.cos{
    font-size:50px;
}


  
:root{
  background-color:white;
 --text-light:white;
 --text-lighter: rgba(255,255,255,0.9);
 --spacing-s: 8px;
 --spacing-m: 16px;
 --spacing-l: 24px;
 --spacing-xl: 32px;
 --spacing-xxl: 64px;
 --width-container: 1200px;
}
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
   
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.09) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.9) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
   
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
   
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  .hfont1{
    font-size:30px;
    color:black;
    text-align: center;
  }
  .pfont1{
    font-size:20px;
    text-align:left;
    color:gold;
  }
  .cosicon1{
    font-size:40px;
    color:gold;
    text-align:center;
  }

  .cosicon2{
    font-size:50px;
    color:gold;
    text-align:center;
    padding-left:40px;
    
  }
  .hfont2{
    color:black;
    font-size:30px;
    text-align:center;
  }
  .pfont2{
    font-size:20px;
    text-align:left;
    color:gold;
  }

  .cosicon3{
    font-size:30px;
    color:gold;
    text-align:center;
    
  }
  .hfont3{
    color:black;
    font-size:30px;
    text-align:center;
  }
  .pfont3{
    font-size:20px;
    text-align:left;
    color:gold;
  }














  .fifthpage{
    background-image:url(img/cta-bg.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height:370px;
  }

  .cta1{
    color:white;
    text-align: center;
    padding-top:100px;
  }
  .cta2{
    color:white;
    text-align: center;
    font-size:20px;
    padding-top:10px;
  }
  .ctabutton{
    margin-left:44%;
    width:150px;
  }
  .cntnuh1{
    padding-top:90px;
    padding-left:30px;
    font-weight: 700px;
   
  }














  body {
    font-family: 'Raleway', sans-serif;
    
  }
  
  .contenedor {
    height: 50%;
    padding-left:10px;
    display: flex;
    flex-direction:column;
  }
  
  
  
  .container_foto {
    background-color: rgba(57, 62, 93, 0.7);
    padding: 0;
    overflow: hidden;
    max-width: 350px;
    margin: 5px;
  }
  
  .container_foto article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .container_foto h2 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
  }
  
  .container_foto h4 {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
  }
  
  .container_foto img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -o-transition: all 4s ease;
    -ms-transition: all 4s ease;
    transition: all 4s ease;
  }
  
  .ver_mas {
    
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .ver_mas span {
    font-size: 40px;
    color: #fff;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 13px;
  }
  
  
  /*hovers*/
  
  .container_foto:hover {
    cursor: pointer;
  }
  
  .container_foto:hover img {
    opacity: 0.1;
    transform: scale(1.5);
  }
  
  .container_foto:hover article {
    transform: translate(2px, -69px);
    -webkit-transform: translate(2px, -69px);
    -moz-transform: translate(2px, -69px);
    -o-transform: translate(2px, -69px);
    -ms-transform: translate(2px, -69px);
  }
  
  .container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
  }
  @media screen and (min-width: 680px) {
  
    .contenedor {
      flex-direction:row;
    }
  }









  .wholevdp{
    padding-top:10%;
  }

  .vdpicon1{
    color:gold;
    font-size:40px;
   
    
  }
  .vdptext1{
    font-size:20px;
    padding-right:80px;
    padding-left:30px;

  }

  .whole2{
    padding-top:3%;
  }
  .vdpicon2{
    font-size:40px;
    color:gold;
  }
  .vdptext2{
    font-size:20px;
    padding-left:30px;
  }
  


  .whole3{
    padding-top:3%;
  }
  .vdpicon3{
    font-size:40px;
    color:gold;
  }
  .vdptext3{
    font-size:20px;
    padding-left:30px;
  }

  .whole4{
    padding-top:2%;
  }
  .vdpicon4{
    font-size:40px;
    color:gold;
  }
  .vdptext4{
    font-size:20px;
    padding-left:30px;
  }









 .carousel{
  background-image:url(img/testimonials-bg.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
 }
 
.rounded-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px; /* Center the image and add some space below */
}

.carousel-item h1,
.carousel-item h2,
.carousel-item h3 {
  text-align: center;
  margin: 5px 0; /* Add some space between the headings */
}

.slide{
  color:white;
}













.underlinecard{
  width:150px;
  border:1px solid gold;
}
.ot{
  padding-bottom:30px;
}

.cardicon{
  font-size:30px;
}
div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.i{
  display:flex;
  flex-direction:row;
  gap:30px;
  width:100%;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  
  .i {
    flex-direction:column;
    
  }
}

div.container {
  text-align: center;
  padding: 10px 20px;
}











.ul{
  color:gold;
}



















.map-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  
  overflow: hidden;
  max-width: 100%;
  
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border: 0;
}


















.addresspage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left:8%;

}

.address-content {
  flex: 1;
}
.addicon1{
  color:black;
  background-color: gold;
  border:1px solid gold;
  border-radius:10px;
  text-align:center;
  height:40px;
  width:40px;
}
.addp1{
  margin-left:6%;
}

.addicon2{
  color:black;
  background-color: gold;
  border:1px solid gold;
  border-radius:10px;
  text-align:center;
  height:40px;
  width:40px;
}
.addp1{
  margin-left:6%;
}

.addicon3{
  color:black;
  background-color: gold;
  border:1px solid gold;
  border-radius:10px;
  text-align:center;
  height:40px;
  width:40px;
}
.addp1{
  margin-left:6%;
}

.addicon4{
  color:black;
  background-color: gold;
  border:1px solid gold;
  border-radius:10px;
  text-align:center;
  height:40px;
  width:40px;
}
.addp1{
  margin-left:8%;
}

.text{
  border:1px solid black;
  width:70px;
}






.addresspage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.address-content {
  flex: 1;
}

.names {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing between form groups as needed */
}

.form-group input {
  flex: 1;
}


  
  

 
 


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

















.site-footer
{
  background-color:black;
  padding:150px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
  height:65%;
}
.site-footer hr
{
  border-top-color:black;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:red;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:black;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#d50404;
  color:#f60101;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  